<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.bustracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="package_name.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bticon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bus_tracker_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main4Activity" />
        <activity
            android:name=".Main5Activity"
            android:label="@string/title_activity_main5"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBw1DfvsclRu_qZ5151DkOzL4-Ofn0Cajw" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"/>
        <activity android:name=".Main6Activity" />
        <activity android:name=".Main7Activity" />
        <activity
            android:name=".MapsActivity2"
            android:label="@string/title_activity_maps2"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>